
body  {
  background-color: rgb(200, 200, 200);
  color: rgb(150, 150, 150);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
}

h3 {
  font-size: 15px;
}

p {
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(150, 150, 150);
}

a:hover {
  color: pink;
}

div {
  background-color: white;
  margin-left: 200px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(255 204 229 0.1);
}

 i {
  font-size: 25px;
}


#demo {
  padding: 10px;
  margin: 20px;
  background-color: pink;
  font-weight: 300;
  border-radius: 8px;
}

#social i{
  margin: 7px;
}

.list li{
  text-decoration: none;
  display: inline-block;
  padding: 0px 40px;
}

#intro img{
  width: 150;
  border-radius: 100px;
}

#favorites {
  text-align: center;
}

#favorites img {
  max-width: 150px;
  min-height:  150px;
  overflow: hidden;
  padding: 20px;
  border-radius: 25px;
}


.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("https://picsum.photos/160/400");
    padding-top: 40px;
}

.sidenav a {
    padding: 10px 20px;
    font-size: 25px;
    display: block;
}
